---
import { Image } from "astro:assets";
import education from '@/assets/education.svg'

---

<script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})</script>

<section class="bg-trancperent overflow-visible">
    <div class="container px-6 py-10 mx-auto overflow-visible">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="font-semibold text-neon-pink capitalize lg:text-3xl ">explore our <br> awesome Components</h1>

                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 bg-neon-cyan rounded-full"></span>
                        <span class="inline-block w-3 h-1 ml-1 bg-neon-lime rounded-full"></span>
                        <span class="inline-block w-1 h-1 ml-1 bg-neon-yellow rounded-full"></span>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-foreground bg-neon-pink rounded-xl md:mx-4 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                    </span>

                    <div class="md:mx-4 md:mt-0">
                        <h5 class="font-semibold text-foreground capitalize hover:text-neon-lime">Copy & paste components</h5>

                        <p class="mt-3 text-muted-foreground">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-foreground bg-neon-pink rounded-xl md:mx-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h5 class="text-xl font-semibold text-foreground capitalize hover:text-neon-lime">Zero Configuration</h5>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-foreground bg-neon-pink rounded-xl md:mx-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h5 class="text-xl font-semibold text-foreground capitalize hover:text-neon-lime">elegant Dark Mode</h5>

                        <p class="mt-3 text-muted-foreground">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                        </p>
                    </div>
                </div>
            </div>

            <div class="hidden  lg:flex lg:items-center lg:w-1/2 lg:justify-center overflow-visible ">
  
                <Image 
                    src={education} alt="alts" />
            </div>
        </div>
    </div>
</section>

              <style>svg#freepik_stories-education:not(.animated) .animable {opacity: 0;}svg#freepik_stories-education.animated #freepik--background-simple--inject-105 {animation: 1.5s Infinite  linear wind;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--Clouds--inject-105 {animation: 6s Infinite  linear shake;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--musical-notes--inject-105 {animation: 6s Infinite  linear shake;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--light-bulb--inject-105 {animation: 3s Infinite  linear heartbeat;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--Books--inject-105 {animation: 4.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft,6s Infinite  linear wind;animation-delay: 0s,4.9s;}svg#freepik_stories-education.animated #freepik--Trees--inject-105 {animation: 6s Infinite  linear wind;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--Text--inject-105 {animation: 2.0s 1 forwards ease-in fadeIn;animation-delay: 0s;}svg#freepik_stories-education.animated #freepik--Globe--inject-105 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite  linear wind;animation-delay: 0s,1s;}svg#freepik_stories-education.animated #freepik--Character--inject-105 {animation: 1s 1 forwards ease-out slideDown,3s Infinite  linear wind;animation-delay: 0s,1s;}            @keyframes wind {                0% {                    transform: rotate( 0deg );                }                25% {                    transform: rotate( 1deg );                }                75% {                    transform: rotate( -1deg );                }            }                    @keyframes shake {                10%, 90% {                    transform: translate3d(-1px, 0, 0);                  }                  20%, 80% {                    transform: translate3d(2px, 0, 0);                  }                  30%, 50%, 70% {                    transform: translate3d(-4px, 0, 0);                  }                  40%, 60% {                    transform: translate3d(4px, 0, 0);                  }            }                    @keyframes heartbeat {                0% {                    transform: scale(1);                }                10% {                    transform: scale(1.1);                }                30% {                    transform: scale(1);                }                40% {                    transform: scale(1);                }                50% {                    transform: scale(1.1);                }                60% {                    transform: scale(1);                }                100% {                    transform: scale(1);                }            }                    @keyframes slideLeft {                0% {                    opacity: 0;                    transform: translateX(-30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }                    @keyframes fadeIn {                0% {                    opacity: 0;                }                100% {                    opacity: 1;                }            }                    @keyframes zoomOut {                0% {                    opacity: 0;                    transform: scale(1.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes slideDown {                0% {                    opacity: 0;                    transform: translateY(-30px);                }                100% {                    opacity: 1;                    transform: translateY(0);                }            }        .animator-hidden { display: none; }</style>