---

import { BackgroundLines } from '@/components/ui/background-lines'
import { cn } from '@/lib/utils'
import React from 'react'
import { Spotlight } from './ui/spotlight'
---
    <div class="h-[40rem] w-full rounded-md flex md:items-center md:justify-center bg-trancperent antialiased bg-grid-white/[0.02] relative overflow-visible">
      <Spotlight
        className="-top-40 left-0 md:left-60 md:-top-20"
        fill="white"
        client:visible
      />
      <BackgroundLines className="flex items-center justify-center w-full flex-col px-4" client:visible >
      <div class=" p-4 max-w-7xl  mx-auto relative z-10  w-full pt-20 md:pt-0">
        <h1 class="text-4xl md:text-7xl font-extrabold text-center bg-clip-text text-transparent bg-gradient-to-b from-neon-cyan to-neon-pink bg-opacity-50">
          Jane School <br /> is the new mainstream in world trend's.
        </h1>
        <p class="mt-4 font-normal text-base text-foreground max-w-lg text-center mx-auto">
          Spotlight effect is a great way to draw attention to a specific part
          of the page. Here, we are drawing the attention towards the text
          section of the page. I don&apos;t know why but I&apos;m running out of
          copy.
        </p>
      </div>
    </BackgroundLines>
    </div>
