---
import { fade } from 'astro:transitions'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { LANGUAGES_ARRAY } from '@/i18n/utils'
import PageHeading from '../../components/page-heading.astro'
import PostsLoop from '../../components/posts-loop.astro'
import Layout from '../../layouts/Layout.astro'


export const getStaticPaths = () => {
  return LANGUAGES_ARRAY.map((lang) => ({
    params: { lang }
  }))
}

export const prerender = true
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('homepage-title')} description={t('homepage-description')} lang={lang} transition:animate={fade({ duration: "0.4s" })}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>