---
import Container from '@/components/layout/container.astro'
import ProviderAnimations from '@/components/layout/provider-animations.astro'
import TailwindIndicator from '@/components/layout/tailwind-indicator.astro'
import { cn } from '@/lib/utils'
import '@/styles/globals.css'

type Props = {
  title: string
  description?: string
  lang?: string
  mainClass?: string
  bodyClass?: string
}

import BaseHead from '@/components/BaseHead.astro'
import Navbar from '@/components/Navbar.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'

const { title, description, mainClass, bodyClass } = Astro.props as Props
---

<!doctype html>
<html lang='en' class="bg-trancperent text-foreground scroll-smooth">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
		<BaseHead title={title} description={description || ''} />
        <ViewTransitions />
		<ProviderAnimations />
	</head>
	<body class={cn('flex flex-col font-sans antialiased min-h-screen', bodyClass)}>
		<Container>
			<Navbar />
			<main class={cn(mainClass)}>
				<slot />
				<TailwindIndicator />
			</main>
		</Container>
		<style is:global>
			body {
				font-family: "Days One", sans-serif;
	        }
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>

<script>import "preline/dist/preline.js";</script>
<script src="../../node_modules/preline/preline.js"></script>

